
.form-for-files{
    display: flex;
    justify-content: space-around;
}

.file-list {
    max-height: 70px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
  }
  
.file-item {
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
.file-item:last-child {
    border-bottom: none;
}
.export-files-button{
    padding: 10px 20px;
    font-size: large;
}

/* css for input file from : https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    border:1px white solid;
    border-radius: 12px;
    display: inline-block;
}

.input-files-label-content{
    padding:10px 40px;
    display: flex;
}
.input-files-label-text{
    padding-top: 11px;
    padding-left: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    box-shadow: 0 8px 16px rgba(256, 256, 256, 0.4);
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}




.export-buttons{
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 5px 5px;
    border-radius: 10px;
    border:1px solid #007bff;
}
.selected {
    width: 49%;
    background-color: #007bff;
    color: #fff;
    text-decoration: underline;
  }
.not-selected {
    width: 49%;
    background-color: #fff;
    color: #007bff;
    border:1px solid #007bff;
}
.left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }


.error-files{
    color:red;
}


.export-form {
    display: flex;
}
.error{
    color:red;
}
  

.add-export-button{
    padding-left: 15px;
}



.nav-bar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #ffffff;
    padding: 30px 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}





.user:hover{
    cursor: pointer;
    
}

.navbar-button {
    height: 56px;
    background-color: #2b2b2b;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    line-height: 20px;
    transition-property: background-color;
    display: flex;
}
.navbar-button:hover {
    color: #fff;
    background-color: #3d3d3d
}


.user img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}


.img-block-card{
    padding-top:7.5%;
}

.img-block {
    width:50vw;
    margin:auto;
    background-image: radial-gradient(circle at 0 0,rgba(255,255,255,.4),rgba(255,255,255,0));
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 30px;
    position: relative;
}

.img-block header{
    display: flex;
}


.img-block-content{
    padding-top:15%;
    padding:30px;
}
.img-block-text {

    z-index: 4;
    width: 60%;
    text-align: center;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    position: relative;
}

.lemport-logo{
    padding-top: 15px;
    padding-right: 15px;
}
.lemport-title{
}

.cta-export-button{
    width: 30%;
    margin:auto;
    box-shadow: 0 8px 34px rgba(49,107,255,.5);

}

.cta{
    color: #fff;
    background-color: #316bff;
    border-radius: 10px;
    padding: 0;
    font-size: 20px;
    text-decoration: none;
}

.cta-export-button :hover{
    cursor: pointer;
}

.cta :hover{
    background-color: #316bff;
    opacity: 0.8;
}


.cta-export{
    text-align: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: #316bff;
    background-image: radial-gradient(circle at 50% 240%,rgba(255,255,255,.5),rgba(255,255,255,0));
    border: 2px solid rgba(255,255,255,.25);
    border-radius: 9px;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    transition: all .3s;
    display: flex;
}